.main {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper {
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30%;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.status-warpper {
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    padding: 10px;
    padding-right: 0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-warpper::-webkit-scrollbar {
    display: none;

}

.status-card {
    flex: 0 0 auto;
    width: 88px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

/*************post******************/
.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}


/******************************/

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);

}

.post {
    width: 100%;
    height: 600px;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
}

.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.info .username {
    width: auto;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    margin-left: 10px;

}

.info .options {
    height: 10px;
    cursor: pointer;
}

.info .user {
    display: flex;
    align-items: center;
}

.info .profile-pic {
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
}

.info .profile-pic img {
    border: none;
}

.post-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-contant {
    width: 100%;
    padding: 20px;
}

.likes {
    font-weight: bold;

}

.discription {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.discription span {
    font-weight: bold;
    margin-right: 10px;
}

.post-time {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper {
    width: 100%;
    hyphens: 50px;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon {
    height: 30px;
    border-radius: 50%;

}

.comment-box {
    width: 80%;
    height: 50%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn,
.logout-btn,
.folow-btn {
    width: 70%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 14px;
    color: (0, 162, 255);
    opacity: 0.5;
}

.reaction-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    font-weight: 450px;


}

.reaction-wrapper .icon {
    height: 25px;
    margin: 0;
    margin-right: 20px;


}

.right-col {
    padding: 20px;

}

.profile-card,
.suggestion-card {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic {
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 70px;
    height: 70px;
    margin-right: 1px;
}

.profile-card .profile-pic img {
    border: none;
    width: 70px;
    hyphens: 70px;
}

.profile-card .username,
.suggestion-card .username {
    font-weight: 500px;
    font-size: 14px;
    color: #000;
    margin-bottom: 0;
}

.profile-card .sub-text,
.suggestion-card .sub-text {
    color: #000;
    font-size: 12px;
    font-weight: 500px;
    margin-top: 2px;
    margin-bottom: 0;
}

.logout-btn,
.folow-btn {
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}

.suggestion-card .suggestion-pic {
    flex: 0 0;
    padding: 0;
    background: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.suggestion-card .suggestion-pic img {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.suggestion-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px;
}

/*********login*********/

.contatner {
    height: 100rem;
    display: flex;
    flex-direction: column;
}

.main-contatner {
    display: flex;
    flex-grow: 1;
}

.main-content {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 970px;
    flex-grow: 1;
}

.slide-contatner {
    height: 620px;
    flex-basis: 450px;
}

.slide-content {
    margin: 100px 0 150px;
    position: relative;
}

.slide-contatner img {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
}

.slide-contatner img.active {
    opacity: 1;
    visibility: hidden;
}




/******* screen***********/

@media(max-width:1100px) {

    .right-col,
    .search-box {
        display: none;
    }

    .nav-wrapper,
    .wrapper {
        width: 90%;
    }

    .wrapper {
        display: block;
    }
}

@media(max-width:500px) {
    .nav-items .icon {
        margin: 0 5px;
    }

    .post-image {
        height: 100px;
    }
}


/*******profile*******/

.main {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper {
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30%;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.status-warpper {
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    padding: 10px;
    padding-right: 0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-warpper::-webkit-scrollbar {
    display: none;

}

.status-card {
    flex: 0 0 auto;
    width: 88px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);

}

.post {
    width: 100%;
    height: 600px;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
}

.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.info .username {
    width: auto;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    margin-left: 10px;

}

.info .options {
    height: 10px;
    cursor: pointer;
}

.info .user {
    display: flex;
    align-items: center;
}

.info .profile-pic {
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
}

.info .profile-pic img {
    border: none;
}

.post-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-contant {
    width: 100%;
    padding: 20px;
}

.likes {
    font-weight: bold;

}

.discription {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.discription span {
    font-weight: bold;
    margin-right: 10px;
}

.post-time {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper {
    width: 100%;
    hyphens: 50px;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon {
    height: 30px;
    border-radius: 50%;

}

.comment-box {
    width: 80%;
    height: 50%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn,
.logout-btn,
.folow-btn {
    width: 70%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 14px;
    color: (0, 162, 255);
    opacity: 0.5;
}

.reaction-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    font-weight: 450px;


}

.reaction-wrapper .icon {
    height: 25px;
    margin: 0;
    margin-right: 20px;


}

.right-col {
    padding: 20px;

}

.profile-card,
.suggestion-card {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic {
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 70px;
    height: 70px;
    margin-right: 1px;
}

.profile-card .profile-pic img {
    border: none;
    width: 70px;
    hyphens: 70px;
}

.profile-card .username,
.suggestion-card .username {
    font-weight: 500px;
    font-size: 14px;
    color: #000;
    margin-bottom: 0;
}

.profile-card .sub-text,
.suggestion-card .sub-text {
    color: #000;
    font-size: 12px;
    font-weight: 500px;
    margin-top: 2px;
    margin-bottom: 0;
}

.logout-btn,
.folow-btn {
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}

.suggestion-card .suggestion-pic {
    flex: 0 0;
    padding: 0;
    background: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.suggestion-card .suggestion-pic img {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.suggestion-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px;
}

/*********login*********/

.contatner {
    height: 100rem;
    display: flex;
    flex-direction: column;
}

.main-contatner {
    display: flex;
    flex-grow: 1;
}

.main-content {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 970px;
    flex-grow: 1;
}

.slide-contatner {
    height: 620px;
    flex-basis: 450px;
}

.slide-content {
    margin: 100px 0 150px;
    position: relative;
}

.slide-contatner img {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
}

.slide-contatner img.active {
    opacity: 1;
    visibility: hidden;
}




/******* screen***********/

@media(max-width:1100px) {

    .right-col,
    .search-box {
        display: none;
    }

    .nav-wrapper,
    .wrapper {
        width: 90%;
    }

    .wrapper {
        display: block;
    }
}

@media(max-width:500px) {
    .nav-items .icon {
        margin: 0 5px;
    }

    .post-image {
        height: 100px;
    }
}

/*** profile********/
.header {
    margin-top: 30px;
}

.profile-container {
    max-width: 95.5rem;
    margin: 0 auto;
    padding: 0 2rem;


}

.profile-btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.profile-btn:focus {
    outline: 0.5rem auto #4d4de0;
}

.profile {
    padding: 5rem 0;
}

.profile:after {
    content: "";
    display: block;
    clear: both;
}

.profile-img {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;

}

.profile-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.info,
.stats,
.bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.info {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
}

.edit-btn {
    font-size: 1.2rem;
    line-height: 1.6rem;
    border: 0.2rem solid #4b4b4b;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.setting-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.stats {
    margin-top: 2.3rem;
}

.stats li {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.bio {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.real-name,
.stat-count,
.edit-btn {
    font-weight: 600;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:500px) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;

    }

    .profile-img,
    .profile-user-name,
    .bio,
    .stats {
        float: none;
        width: auto;
        margin: 5px auto;
    }

    .stats li {
        display: block;
    }

    .profile-img {
        margin: 0 auto;
    }

    .profile-user-name {
        font-size: 20px;
    }
}

/*******freinds*******/
.follow-btn {
    display: inline-block;
    background: rgb(0, 162, 255);
    color: #fff;
    font-size: 16px;
    padding: 8px;
    border: none;
    width: 450px;
}



.setting {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
}

.setting_window {
    background-color: #efefef;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 22%;
    border-radius: 4px;
}

.close_setting {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;

}

.close_setting:hover,
.close_setting:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.setting_window a {
    text-decoration: none;
    color: rgb(0, 162, 255);
    font-size: 16px;
    background: none;
    display: block;
    margin: 5px 2px;
    padding: 5px;
}

/*********camera************/

.camera_container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;

}

.camera {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
}

.camera_image {
    position: relative;
    flex: 1 0 22rem;
    margin: 10rem;
    color: #fff;
    cursor: pointer;
    text-align: center;

}

.camera_image img {
    width: 100%;
    border-radius: 2%;

}

.camera_form {
    width: 40%;
    margin: 5px auto;

}

.upload_btn {
    background: rgb(0, 162, 255);
    color: #fff;
    width: 70px;
    height: 100%;
    font-size: 16px;
    border: none;
    display: block;
    outline: none;
    margin: 0 auto;
    border-radius: 3px;
}

.form_control {
    width: 100%;
    margin: -2px auto;
    border-radius: 5px;
    color: rgba(33, 37, 41, 0.8);
    background-color: #fff;
    border: 1px solid #ced4da;
    background-clip: padding-box;
}

/****search****/

.search-contant {
    display: flex;
}

.search-btn {
    color: rgb(0, 162, 255);
    background: none;
    border: none;
    font-size: 14px;
    height: 30px;
    margin-left: 10px;
}

.search-result-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

.search-result-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.search-result-item p {
    margin: 8px 0 0 8px;
    font-size: 14px;
}

.search-result-item span {
    color: #a5a5a5;
    font-size: 12px;
    margin: 20px 0 0 20px;
}

.search-result-item-btn {
    width: 100%;
    margin-top: 10px;
}

.search-result-item-btn button {
    color: rgb(0, 162, 255);
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    float: right;
}

/*******edit profile*********/
.edit-profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 5px;
}

.update-profile-btn {
    display: inline-block;
    background: rgb(0, 162, 255);
    color: #fff;
    font-size: 16px;
    padding: 5px;
    border: none;
    text-align: center;
    outline: none;
    width: 100%;
}

.single-post-container {
    margin-top: 5px;
}

.discover.-container {
    max-width: 95.5rem;
    margin: 25px auto;
    padding: 0 2rem;
}